.branded-more {
	background-color: #FFF;
	padding: 0 200px 40px 200px;
	.container {
		display: flex;
		flex-wrap: wrap;
		.branded-item {
			border: 2px solid #ecf0f1;
			border-bottom: 10px solid #3CC395;
			margin: 50px 30px 0 30px;
			padding: 20px;
			width: 20%;
			.img-view {
				width: 180px;
				height: 180px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.info-details {
				padding-top: 20px;
				color: #95a5a6;
				font-weight: bold;
				font-size: 20px;
				.title {
					text-align: center;
				}
				.group {
					width: 90%;
					margin: 10px auto;
					display: flex;
					.price {
						padding: 0 8px;
					}
					button {
						background-color: #3CC395;
						border: 1px solid #3CC395;
						color: #FFF;
						font-size: 16px;
						padding: 4px 8px;
						border-radius: 4px;
					}				
				}
			}
		}

		.branded-item:hover {
			cursor: pointer;
			box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1);
		}
	}
}