* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.body {
	background-color: #3EC1B7;
}

.carousel {
	width: 100vw;
	.active {
		display: flex;
		.img-view {
		}
		.info-details {
		}
	}
}

.right.carousel-control, .left.carousel-control  {
	background: transparent;
}




