.nav-bar {
	background-color: #4CCFC1;
	.container {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline;
				.item {
					line-height: 50px;
					padding: 0 25px;
					color: #FFF;
					font-size: 18px;
					font-weight: bold;
					text-decoration: none;
					border-right: 3px solid #ecf0f1;
				}
			}
		}
	}
}