.nav-bar {
	background-color: #4CCFC1;
	.container {
		ul {
			padding: 0;
			margin: 0;
			li {
				display: inline;
				.item1 {
					float: left;
					line-height: 40px;
					padding: 9px 25px;
					color: #FFF;
					font-size: 18px;
					font-weight: bold;
					text-decoration: none;
					border-right: 2px solid #ecf0f1;
					border-left: none;
				}

				.item1:hover {
					color: #4CCFC1;
					background-color: #ecf0f1;
				}
				

			}
			li:last-child {
				.item1{
					border: none;
				}

			}
		}
	}
}